<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <a class="text-light text-decoration-none" href="/"><h3>Blog</h3></a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="/">Home</a>
                <a class="text-light text-decoration-none" href="/about">About</a>
                <a class="text-light text-decoration-none" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</header>