{% extends 'blog/base.html' %}

{% block content %}

<div class="row d-flex justify-content-center">
    
    <div class="col-3 mt-3">
        <h2>Password Reset</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
        </form>
        <div class="mt-3">
        {% include 'blog/includes/errors.html' %}
        </div>
    </div>
  
</div>
{% endblock %}
