{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Reset Password</h2>
                <div>
                    {% include 'blog/includes/errors.html' %}
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'blog:login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}